<div class="projects-detail__image"></div>
<div class="projects-detail__content d-flex flex-column">
  <p class="projects-detail__content--title">Front-end Developer</p>
  <h1 class="projects-detail__content--name">Moonlight</h1>

  <p class="projects-detail__content--desc">
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Et neque ipsa
    nostrum beatae ullam eaque suscipit rem quod expedita? Sed quasi nisi natus
    ex reprehenderit sit laboriosam ad hic expedita beatae id ducimus error
    saepe quibusdam, doloribus repellat numquam! Ullam perspiciatis error, est
    adipisci laborum illo sint animi. Architecto, sint?
  </p>
  <ul
    class="projects-detail__content--tech d-flex align-items-center p-0 my-4 flex-row"
  >
    <li class="d-flex mx-3 align-items-center justify-content-center">
      <i class="fa-brands fa-html5"></i>
    </li>
    <li class="d-flex mx-3 align-items-center justify-content-center">
      <i class="fa-brands fa-sass"></i>
    </li>
    <li class="d-flex mx-3 align-items-center justify-content-center">
      <i class="fa-brands fa-angular"></i>
    </li>
    <li class="d-flex mx-3 align-items-center justify-content-center">
      <i class="fa-brands fa-js"></i>
    </li>
    <li class="d-flex mx-3 align-items-center justify-content-center">
      <i class="fa-brands fa-bootstrap"></i>
    </li>
  </ul>
  <div class="projects-detail__content--buttons m-3">
    <button class="mx-3">Canlı</button>
    <button class="mx-3 source-code">Source Kod</button>
  </div>
  <div class="projects-detail__content--back-to-project m-3">
    <a href="">
      <svg
        width="24"
        height="24"
        xmlns="http://www.w3.org/2000/svg"
        fill-rule="evenodd"
        clip-rule="evenodd"
      >
        <path
          d="M2.117 12l7.527 6.235-.644.765-9-7.521 9-7.479.645.764-7.529 6.236h21.884v1h-21.883z"
        />
      </svg>
      Go to Projects
    </a>
  </div>
</div>
