@import "../../../../assets/variables.scss";
#projects-detail {
  max-width: 1400px;
  min-height: 500px;
  max-height: 900px;
  margin: 0 auto;
  width: 100%;
  height: 100%;
  @media screen and (max-width: 991px) {
    max-height: none;
    min-height: 0;
  }
}
.projects-detail {
  &__image {
    width: 45%;
    height: 100%;
    background-color: rgb(22, 170, 220, 0.3);
    border-radius: 0.7rem;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px,
      rgba(0, 0, 0, 0.22) 0px 15px 12px;
    overflow: hidden;
    img {
      width: 100%;
      height: 100%;
    }
  }
  &__content {
    position: relative;
    width: 50%;
    height: 100%;
    &--title {
      opacity: 0.4;
    }
    &--name {
      font-size: 3.5rem;
      text-shadow: 3px -2px 8px rgba(128, 0, 0, 0.85);
    }
    &--desc {
      line-height: 30px;
    }
    &--tech {
      list-style: none;
      li {
        width: 50px;
        height: 50px;
        background-color: white;
        border-radius: 50%;
        i {
          font-size: 1.5rem;
        }
      }
    }
    &--buttons {
      width: 100%;
      button {
        min-width: 100px;
        padding: 0.7rem 0.9rem;
        margin: 0.5rem;
        border-radius: 0.3rem;
        font-size: 1rem;
        color: rgb(7, 7, 21);
        border: 1px solid $dark-mode-pink--color;
        background-color: transparent;
        transition: 0.4s ease-in;
        color: $dark-mode-pink--color;
        &:hover {
          color: white;
          background-color: $dark-mode-pink--color;
        }
      }
      .source-code {
        border: 1px solid $dark-mode-blue--color;
        color: $dark-mode-blue--color;
        background-color: transparent;
        transition: 0.4s ease-in;

        &:hover {
          color: rgb(7, 7, 21);
          background-color: $dark-mode-blue--color;
        }
      }
    }
    &--back-to-project {
      position: absolute;
      bottom: 1%;
      left: 1%;
      opacity: 0.4;
      a {
        color: white;
        text-decoration: none;
        cursor: pointer;
      }
      svg {
        fill: white;
        margin-right: 1rem;
      }
    }
  }
  @media screen and (max-width: 1200px) {
    &__image {
      height: 800px;
      width: 55%;
    }
    &__content {
      width: 40%;
      height: 800px;
      &--title {
        margin-bottom: 0;
      }
      &--name {
        font-size: 2.5rem;
      }
      &--desc {
        font-size: 0.9rem;
        line-height: 25px;
      }
    }
  }
  @media screen and (max-width: 991px) {
    &__image {
      width: 100%;
      min-height: 500px;
      height: auto;
      margin-bottom: 2rem;
    }
    &__content {
      width: 100%;
      height: auto;
      padding-bottom: 3rem;
    }
  }
  @media screen and (max-width: 575px) {
    &__image {
      height: auto;
      min-height: 300px;
      border-radius: 0.4rem;
    }
    &__content {
      &--desc {
        text-align: justify;
      }
    }
  }
}
