.main-container {
  height: calc(100% - 70px);
  .main-content {
    @media screen and (max-width: 576px) {
      width: 100% !important;
    }
  }
  @media screen and (max-width: 576px) {
    width: 100% !important;
  }
}
