@import "../../../../assets/variables.scss";

.about-container {
  width: 90%;
  margin-top: 1rem;
  max-width: 1200px;
  @media screen and (max-width: 991px) {
    width: 95%;
  }
  @media screen and (max-width: 767px) {
    margin-top: 0;
  }
}
.about {
  &__introduction {
    width: 90%;
    background: rgba(23, 25, 58, 0.43);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(9.1px);
    -webkit-backdrop-filter: blur(9.1px);
    border: 1px solid rgba(23, 25, 58, 0.3);
    border-radius: 0.3rem;
    &--image {
      width: 45%;
      aspect-ratio: 1 / 1;
      box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
      border-radius: 0.3rem;
      overflow: hidden;
      img {
        width: 100%;
        height: 100%;
      }
    }
    &--text {
      width: 50%;
    }
  }
  &__experiance {
    width: 90%;
    &-content {
      width: 100%;
      background: rgba(23, 25, 58, 0.43);
      border-radius: 16px;
      box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
      backdrop-filter: blur(9.1px);
      -webkit-backdrop-filter: blur(9.1px);
      border: 1px solid rgba(23, 25, 58, 0.3);
      border-radius: 0.3rem;
      &--text {
        width: 85%;
        margin-top: 2rem;
        margin-bottom: 2rem;
        p {
          margin: 0;
        }
      }
    }
  }
  &__skills {
    width: 90%;
    background: rgba(23, 25, 58, 0.43);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(9.1px);
    -webkit-backdrop-filter: blur(9.1px);
    border: 1px solid rgba(23, 25, 58, 0.3);
    border-radius: 0.3rem;
    &-container {
      width: 100%;
      &-item {
        width: 48%;
        .skill-item {
          width: 100%;
          p,
          h5 {
            margin: 0;
          }
          &--name {
            opacity: 0.7;
          }
          #progress-bar-container {
            width: 80%;
          }
          &--progress-bar {
            width: 100%;
            position: relative;
            min-width: 240px;
            max-width: 350px;
            height: 5px;
            background-color: rgb(38, 55, 55);

            &-filled {
              width: 90%;
              height: 100%;
              position: absolute;
              top: 0;
              left: 0;
            }
          }
          &--perc {
            opacity: 0.8;
            font-size: 0.7rem;
          }
        }
      }
    }
  }
  @media screen and (max-width: 1399px) {
    &__introduction,
    &__experiance,
    &__skills {
      width: 100%;
    }
  }
  @media screen and (max-width: 767px) {
    &__introduction {
      &--text {
        width: 100%;
        h1 {
          text-align: center;
        }
      }
    }
    &__skills-container-item {
      width: 100%;
      .skill-item--progress-bar {
        max-width: 500px;
      }
    }
  }
  @media screen and (max-width: 575px) {
    &__introduction {
      @include no-glassmorfism();
      &--image {
        min-width: 300px;
      }
      &--text {
        text-align: justify;
        margin-top: 2rem;
      }
    }
    &__experiance {
      &-content {
        @include no-glassmorfism();
        &--text {
          width: 100%;
        }
      }
    }
    &__skills {
      @include no-glassmorfism();
    }
  }
}
@media screen and (max-width: 400px) {
  .about__skills-container-item .skill-item {
    flex-direction: column !important;
    margin-bottom: 2rem;
    align-items: baseline !important;
    #progress-bar-container {
      width: 100%;
    }
    &#pro-lang {
      flex-direction: row !important;
    }
  }
}
