<section class="about-container p-5 d-flex align-items-center flex-column">
  <div
    class="about__introduction d-flex flex-row justify-content-between align-items-center p-3"
  >
    <div class="about__introduction--image">
      <img
        src="https://images.unsplash.com/photo-1616435194395-850bd264a8fa?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=764&q=80"
        alt=""
      />
    </div>
    <div class="about__introduction--text">
      <h1 class="color-pink">{{ getLocalText("name") }}</h1>
      <p>
        {{ getLocalText("desc") }}
      </p>
    </div>
  </div>
  <div class="about__experiance my-5">
    <div class="about__experiance-content my-3 p-3">
      <h2 class="about__experiance-content--header color-blue mb-3">
        {{ getLocalText("experienceHeader") }}
      </h2>

      <div
        class="about__experiance-content--text d-flex align-items-center justify-content-start flex-row"
        *ngFor="let item of getLocalText('experienceItem')"
      >
        <div
          class="about__experiance-content--text-icon color-blue mr-3 d-flex align-items-center justify-content-center"
        >
          <i class="fa-solid fa-location-dot"></i>
        </div>
        <p class="about__experiance-content--text-information mr-5">
          {{ item.text }}
        </p>
        <p class="about__experiance-content--text-date">{{ item.date }}</p>
      </div>
    </div>
    <div class="about__experiance-content my-3 p-3">
      <h2 class="about__experiance-content--header color-blue mb-3">
        {{ getLocalText("educationHeader") }}
      </h2>
      <div
        class="about__experiance-content--text d-flex align-items-center justify-content-start flex-row"
        *ngFor="let item of getLocalText('educationItem')"
      >
        <div
          class="about__experiance-content--text-icon color-blue mr-3 d-flex align-items-center justify-content-center"
        >
          <i class="fa-solid fa-location-dot"></i>
        </div>
        <p class="about__experiance-content--text-information mr-5">
          {{ item.text }}
        </p>
        <p class="about__experiance-content--text-date">{{ item.date }}</p>
      </div>
    </div>
  </div>
  <div class="about__skills d-flex align-items-center flex-column py-3">
    <h1 class="color-blue">{{ getLocalText("skillHeader") }}</h1>
    <div
      class="about__skills-container d-flex flex-wrap flex-row p-3 justify-content-between"
    >
      <div class="about__skills-container-item">
        <h3 class="color-pink my-4">{{ getLocalText("skillSoftware") }}</h3>
        <div class="d-flex align-items-end flex-column">
          <div
            class="skill-item my-2 d-flex align-items-center justify-content-start flex-row"
            *ngFor="let skill of getLocalText('skillSoftwareItem')"
          >
            <h5 class="skill-item--name color-pink mr-3">{{ skill.name }}</h5>
            <div class="skill-item--progress-bar mr-2">
              <div class="skill-item--progress-bar-filled"></div>
            </div>
            <p class="skill-item--perc">{{ skill.perc }}</p>
          </div>
        </div>
      </div>
      <div class="about__skills-container-item">
        <h3 class="color-pink my-4">{{ getLocalText("skillLanguage") }}</h3>
        <div class="d-flex align-items-end flex-column">
          <div
            class="skill-item px-3 my-2 d-flex align-items-center justify-content-start flex-row w-100"
            *ngFor="let skill of getLocalText('skillLanguageItem')"
          >
            <h5 class="skill-item--name color-pink mx-1">{{ skill.name }}</h5>
            <span>-</span>
            <h5 class="skill-item--level color-pink mx-1">{{ skill.level }}</h5>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
