<section class="about-container p-5 d-flex align-items-center flex-column">
  <div
    class="about__introduction d-flex flex-row justify-content-between align-items-center p-3"
  >
    <div class="about__introduction--image">
      <img
        src="https://images.unsplash.com/photo-1616435194395-850bd264a8fa?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=764&q=80"
        alt=""
      />
    </div>
    <div class="about__introduction--text">
      <h1 class="color-pink">{{ getLocalText("About", "name") }}</h1>
      <p>
        {{ getLocalText("About", "description") }}
      </p>
    </div>
  </div>
  <div class="about__experiance my-5">
    <div class="about__experiance-content my-3 p-3">
      <h2 class="about__experiance-content--header color-blue mb-3">
        {{ getLocalText("About", "experience")["name"] }}
      </h2>
      <div
        class="about__experiance-content--text d-flex align-items-center justify-content-start flex-row"
      >
        <div
          class="about__experiance-content--text-icon color-blue mr-3 d-flex align-items-center justify-content-center"
        >
          <i class="fa-solid fa-location-dot"></i>
        </div>
        <p class="about__experiance-content--text-information mr-5">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellat,
          facilis.
        </p>
        <p class="about__experiance-content--text-date">14-09-2007</p>
      </div>
      <div
        class="about__experiance-content--text d-flex align-items-center justify-content-start flex-row"
      >
        <div
          class="about__experiance-content--text-icon color-blue mr-3 d-flex align-items-center justify-content-center"
        >
          <i class="fa-solid fa-location-dot"></i>
        </div>
        <p class="about__experiance-content--text-information mr-5">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellat,
          facilis.
        </p>
        <p class="about__experiance-content--text-date">14-09-2007</p>
      </div>
    </div>
    <div class="about__experiance-content my-3 p-3">
      <h2 class="about__experiance-content--header color-blue mb-3">Eğitim</h2>
      <div
        class="about__experiance-content--text d-flex align-items-center justify-content-start flex-row"
      >
        <div
          class="about__experiance-content--text-icon color-blue mr-3 d-flex align-items-center justify-content-center"
        >
          <i class="fa-solid fa-location-dot"></i>
        </div>
        <p class="about__experiance-content--text-information mr-5">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellat,
          facilis.
        </p>
        <p class="about__experiance-content--text-date">14-09-2007</p>
      </div>
      <div
        class="about__experiance-content--text d-flex align-items-center justify-content-start flex-row"
      >
        <div
          class="about__experiance-content--text-icon color-blue mr-3 d-flex align-items-center justify-content-center"
        >
          <i class="fa-solid fa-location-dot"></i>
        </div>
        <p class="about__experiance-content--text-information mr-5">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellat,
          facilis.
        </p>
        <p class="about__experiance-content--text-date">14-09-2007</p>
      </div>
    </div>
  </div>
  <div class="about__skills d-flex align-items-center flex-column py-3">
    <h1 class="color-blue">Beceriler</h1>
    <div class="about__skills-container d-flex flex-wrap flex-row p-3">
      <div class="about__skills-container-item">
        <h3 class="color-pink my-4">Languages</h3>
        <div class="d-flex align-items-end flex-column">
          <div
            class="skill-item my-2 d-flex align-items-center justify-content-start flex-row"
          >
            <h5 class="skill-item--name color-pink mr-3">HTML</h5>
            <div class="skill-item--progress-bar mr-2">
              <div class="skill-item--progress-bar-filled"></div>
            </div>
            <p class="skill-item--perc">90%</p>
          </div>
          <div
            class="skill-item my-2 d-flex align-items-center justify-content-start flex-row"
          >
            <h5 class="skill-item--name color-pink mr-3">jQUERY</h5>
            <div class="skill-item--progress-bar mr-2">
              <div class="skill-item--progress-bar-filled"></div>
            </div>
            <p class="skill-item--perc">90%</p>
          </div>
          <div
            class="skill-item my-2 d-flex align-items-center justify-content-start flex-row"
          >
            <h5 class="skill-item--name color-pink mr-3">CSS</h5>
            <div class="skill-item--progress-bar mr-2">
              <div class="skill-item--progress-bar-filled"></div>
            </div>
            <p class="skill-item--perc">90%</p>
          </div>
          <div
            class="skill-item my-2 d-flex align-items-center justify-content-start flex-row"
          >
            <h5 class="skill-item--name color-pink mr-3">JS</h5>
            <div class="skill-item--progress-bar mr-2">
              <div class="skill-item--progress-bar-filled"></div>
            </div>
            <p class="skill-item--perc">90%</p>
          </div>
        </div>
      </div>
      <div class="about__skills-container-item">
        <h3 class="color-pink my-4">Languages</h3>
        <div class="d-flex align-items-end flex-column">
          <div
            class="skill-item my-2 d-flex align-items-center justify-content-start flex-row"
          >
            <h5 class="skill-item--name color-pink mr-3">HTML</h5>
            <div class="skill-item--progress-bar mr-2">
              <div class="skill-item--progress-bar-filled"></div>
            </div>
            <p class="skill-item--perc">90%</p>
          </div>
          <div
            class="skill-item my-2 d-flex align-items-center justify-content-start flex-row"
          >
            <h5 class="skill-item--name color-pink mr-3">jQUERY</h5>
            <div class="skill-item--progress-bar mr-2">
              <div class="skill-item--progress-bar-filled"></div>
            </div>
            <p class="skill-item--perc">90%</p>
          </div>
          <div
            class="skill-item my-2 d-flex align-items-center justify-content-start flex-row"
          >
            <h5 class="skill-item--name color-pink mr-3">CSS</h5>
            <div class="skill-item--progress-bar mr-2">
              <div class="skill-item--progress-bar-filled"></div>
            </div>
            <p class="skill-item--perc">90%</p>
          </div>
          <div
            class="skill-item my-2 d-flex align-items-center justify-content-start flex-row"
          >
            <h5 class="skill-item--name color-pink mr-3">JS</h5>
            <div class="skill-item--progress-bar mr-2">
              <div class="skill-item--progress-bar-filled"></div>
            </div>
            <p class="skill-item--perc">90%</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
