@import "../../../../assets/variables.scss";

.contact-container {
  width: 65%;
  height: 70vh;
  min-height: 500px;
  max-height: 600px;
  background: rgba(23, 25, 58, 0.43);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(9.1px);
  -webkit-backdrop-filter: blur(9.1px);
  border: 1px solid rgba(23, 25, 58, 0.3);
  @media screen and (max-width: 1200px) {
    width: 95%;
  }
  @media screen and (max-width: 991px) {
    border-radius: 10px;
  }
  @media screen and (max-width: 767px) {
    height: auto;
    max-height: none;
  }
  @media screen and (max-width: 575px) {
    height: auto;
    max-height: none;
    @include no-glassmorfism();
  }
  .contact {
    &__touch-content {
      height: 70%;
      @media screen and (max-width: 991px) {
        margin-top: 1rem;
      }
      &--image {
        width: 40%;
        height: 100%;
        background-color: black;
        overflow: hidden;
        border-radius: 0.7rem;
        @media screen and (max-width: 991px) {
          height: 300px;
        }
        @media screen and (max-width: 767px) {
          margin: auto !important;
          width: 50%;
          min-width: 300px !important;
        }
        img {
          width: 100%;
          height: 100%;
          object-fit: fill;
        }
      }
      &--explanation {
        width: 60% !important;
        p,
        h1 {
          margin: 0;
          padding: 0;
        }
        .touch-text {
          opacity: 0.7;
        }
        @media screen and (max-width: 767px) {
          margin-top: 2rem;
          width: 100% !important;
          h1 {
            text-align: center;
            width: 100%;
          }
        }
        @media screen and (max-width: 575px) {
          p {
            text-align: justify;
          }
        }
        form {
          width: 100%;
          border-radius: 0.4rem;
          input {
            width: 85%;
            height: 100%;
            padding: 0.7rem 0.7rem;
            outline: none;
            border: none;
            color: white;
            caret-color: $dark-mode-pink--color;
            background: rgba(45, 47, 88, 0.43);
            &::placeholder {
              padding-left: 0.3rem;
            }
          }
          button {
            z-index: 1;
            width: 15%;
            height: 100%;
            padding: 0.7rem 0.7rem;
            border: none;
            outline: none;
            border-top-right-radius: 0.3rem;
            border-bottom-right-radius: 0.3rem;
            cursor: pointer;
            transition: all 0.2s ease-in-out;
            &:hover {
              box-shadow: 0px 0px 0px 1px rgba(255, 55, 121, 0.4),
                0px 0px 0px 2px rgba(244, 55, 121, 0.3),
                0px 0px 0px 3px rgba(255, 55, 121, 0.2),
                0px 0px 0px 4px rgba(255, 55, 121, 0.1);
              transform: translateY(-1px);
            }
            i {
              color: white;
              font-size: 1.3rem;
            }
          }
        }
      }
    }
    &__social-media {
      width: 100%;
      @media screen and (max-width: 575px) {
        ul {
          padding: 0;
          margin: 0;
        }
      }
      ul {
        width: 80%;
        margin: 0;
        list-style: none;
        a {
          display: flex;
          align-items: center;
          justify-content: center;
          border-radius: 50%;
          width: 50px;
          height: 50px;
          text-decoration: none;
          i {
            font-size: 1.5rem;
            color: white;
          }
          &.email {
            background-color: #ff0000;
          }
          &.github {
            background-color: #03154c;
          }
          &.linkedin {
            background-color: #00bfff;
          }
          &.instagram {
            background-color: #e1306c;
          }
        }
      }
    }
  }
}
