<ul
  class="page-links d-flex align-items-center justify-content-around flex-column"
  ngClass="{{modeTheme}}"
>
  <li class="page-links--item about">
    <a routerLink="/about">
      <i class="fa-regular fa-user"></i>
    </a>
  </li>
  <li class="page-links--item projects">
    <a routerLink="/projects">
      <i class="fa-solid fa-diagram-project"></i>
    </a>
  </li>
  <li class="page-links--item contact">
    <a routerLink="/contact">
      <i class="fa-solid fa-address-card"></i>
    </a>
  </li>
</ul>
