@import "../../../../assets/variables.scss";

.page-links {
  height: 30%;
  list-style: none;
  &--item i {
    font-size: 1.3rem;
    color: white;
    opacity: 0.8;
    text-shadow: 3px 0px 7px rgba(204, 210, 221, 0.8),
      -3px 0px 7px rgba(197, 204, 208, 0.8), 0px 4px 7px rgba(81, 67, 21, 0.8);
  }
}
