@import "../assets/variables.scss";
.color {
  height: 50px;
  width: 50px;
  border-radius: 0.7rem;
}
.colorOne {
  background-color: #ff3779;
}

.colorSecond {
  background-color: #78f1ff;
}
.header-font {
  font-family: $header-font-family;
  color: white;
}
.subtext {
  font-family: $main-font-family;
  color: white;
}
// .colorOne {
//   background-color: #ff96a7;
// }
// .colorSecond {
//   background-color: #a5e1e9;
// }
