$light-mode-bg--color: #fcf3e9;
$light-mode-pink--color: #ff96a7;
$light-mode-blue--color: #a5e1e9;
$dark-mode-bg--color: #020617;
$dark-mode-pink--color: #ff3779;
$dark-mode-blue--color: #78f1ff;
$header-font-family: "Bruno Ace", cursive;
$main-font-family: "Abel", sans-serif;
$bodyMode: "dark-mode";
$pinkColor: bodyMode == "dark-mode" ? $dark-mode-pink--color : $light-mode-pink--color;
body.$bodyMode{
  color:$pinkColor;
}
.color-blue {
  color: $dark-mode-pink--color;
}
.color-pink {
  color: $dark-mode-pink--color;
}
