$light-mode-bg--color: #fcf3e9;
$light-mode-pink--color: #ff96a7;
$light-mode-blue--color: #a5e1e9;
$dark-mode-bg--color: #020617;
$dark-mode-pink--color: #ff3779;
$dark-mode-blue--color: #78f1ff;
$header-font-family: "Bruno Ace", cursive;
$main-font-family: "Abel", sans-serif;
////////// light-mode theme ///////
.light-mode--pink-color {
  color: $light-mode-pink--color;
}
.light-mode--bg-pink-color {
  background-color: $light-mode-pink--color;
}

.light-mode--blue-color {
  color: $light-mode-blue--color;
}
.light-mode--bg-blue-color {
  background-color: $light-mode-blue--color;
}
////////// dark-mode theme ///////
.dark-mode--pink-color {
  color: $dark-mode-pink--color;
}
.dark-mode--bg-pink-color {
  background-color: $dark-mode-pink--color;
}
.dark-mode--blue-color {
  color: $dark-mode-blue--color;
}
.dark-mode--bg-blue-color {
  background-color: $dark-mode-blue--color;
}
@mixin no-glassmorfism {
  background: transparent;
  box-shadow: none;
  backdrop-filter: none;
  border: none;
}
