<div class="lang-dropdown d-flex flex-row">
  <div
    class="lang-dropdown--values d-flex align-items-center justify-content-center"
  >
    <div
      class="lang-dropdown--values-lang d-flex align-items-center justify-content-center"
    >
      <span
        id="langValue"
        class="d-flex align-items-center justify-content-center"
      >
        {{ selectedLangOption }}</span
      >
    </div>
  </div>
  <div
    class="lang-dropdown--btn d-flex flex-column align-items-center justify-content-center"
  >
    <button class="lang-dropdown--btn up" (click)="onUpButtonClicked()">
      <i class="fa-solid fa-caret-up"></i>
    </button>
    <button class="lang-dropdown--btn down" (click)="onDownButtonClicked()">
      <i class="fa-solid fa-caret-down"></i>
    </button>
  </div>
</div>
